*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #c4c4c4;
}

.navbar{ 
    height: 50px;
    padding: 20px; 
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    
    
    

    
}
.tabs{
    width: 50vw;
    display: flex;
    float: right;
}
.tabs a{
    text-decoration: none;
    font-weight: 900;
    color: blue;
    display: flex;
    font-size: large;


}
.tabs li{
    list-style: none;
    /* display: flex; */
}
.description{
    padding: 30px;
    margin: 20px;
    background-color: beige;
    display: flex;
    justify-content: space-around;
} 
.description p{
    align-items: center;
    padding: 30px;
    font-size: xx-large;
}
.aboutme{
    padding: 20px;
    text-align: center;
    background-color: darkslategray;
    color: bisque;
}
.aboutme p{
    padding: 20px;
    font-size: x-large; 
}
.skills{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.html, .javascript, .bootstrap, .design {
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    color: black;
}

.head{
    text-align: center;
    padding: 20px;
    font-size: x-large;
    background-color: rgb(102, 70, 70);
    color: bisque;

}

.projects{
    background-color: rgb(102, 70, 70);
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.project1, .project2, .project3, .project4 {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: darkseagreen;
    text-align: center;
}
.btn{
    padding: 6px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.btn a{
    text-decoration: none;
    color: white;


}
.contacts{
    text-align: center;
    background-color: darkgray;
    padding: 20px;
    font-size: x-large;

}
.contacts h3{
    padding-bottom:20px;
}
.text{
    height: 5vh;
    size: 30vw;
    border-radius: 10px;
    margin: 20px;
}
.#message{
    height: 5%;

}
.copyright{
    text-align: center;
    padding: 15px;
    /* color: white; */
    background-color: grey;
    font-size: large;
}