*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: space-around;
    background-color: crimson;
    padding: 20px;
    align-items: center;
    
}
.tabs{
    display: flex;
    float: right;
    list-style: none;
    padding: 30px;
}
.tabs a{
    text-decoration: none;
    font-weight: 900;
    color: blue;
    display: flex;
    font-size: large;


}
.tabs li{
    list-style: none;
    /* display: flex; */
}
.description{
    padding: 30px;
    margin: 20px;
    background-color: beige;
    display: flex;
    justify-content: space-around;
} 
.description p{
    align-items: center;
    padding: 30px;
    font-size: xx-large;
}
.aboutme{
    padding: 20px;
    text-align: center;
}
.aboutme p{
    padding: 20px;
    font-size: x-large; 
}
.skills{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.html, .javascript, .bootstrap, .design {
    background-color: #c4c4c4;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.head{
    text-align: center;
    padding: 20px;
    font-size: x-large;
}

.projects{
    background-color: darkcyan;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}
.project1, .project2, .project3, .project4 {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    background-color: darkseagreen;
    text-align: center;
}
.btn{
    padding: 6px;
    background-color: blue;
    color: white;
    border-radius: 10px;
}
.btn a{
    text-decoration: none;
    color: white;


}